/* GENERAL */

hr {
	border-color: #333;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a:visited, a:active, a:focus {
    color: #428bca;
}

.form-control:focus {
	border: 1px solid #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* DAILY */

#daily-dtd {
	display: none;
}

.daily-lock-active {
	color: green;
}

.hide-player-row {
	display: none;
} 

/* SOLVER */
/* SOLVER TOP PLAYS */

.active-lineup {
	border: 3px solid rgb(124, 181, 236);
}

.money-lineup {
	border: 3px solid green;
}

.hide-lineup {
	display: none;
}

.hide-player-in-filter {
	display: none;
}

/* SOLVER TOP PLAYS */

.edit-buy-in {
	display: table;
}

.edit-lineup-buy-in-hidden {
	display: none;
}

.edit-lineup-buy-in-amount-hidden {
	display: none;
}

.add-or-remove-lineup-link-loading-gif {
	display: none;
}

.form-hidden {
	display: none;
}

/* PLAYER FILTER TOOLTIPS */

.player-filter-tooltip {
	display: none;
}

.player-filter-tooltip-table th 
{
	background-color: #FFEBCC;
	border: 1px solid #DDDDDD;
	padding: 4px;
	text-align: left;
}

.player-filter-tooltip-table td
{
	padding: 4px;
	text-align: left;
	border: 1px solid #DDDDDD;
}